[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"

[packages]
flask = "*"
flasgger = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
schematics = "*"
flask-httpauth = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
