<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ app_name }}</title>
    <meta name="Description" content="Skeleton project for bootstrapping flask apps quickly">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center">Welcome to {{ app_name }}!</h1>
    <h2 class="text-center" style="margin-top: 2em;"><a href="/apidocs" target="_self">API Docs</a></h2>
    <h5 class="text-center" style="margin-top: 5em;">
        Created by Iain Hunter - <a href="https://github.com/hunt3ri/flask-bootstrap" target="_blank">Github Repo</a>
    </h5>
</div>
</body>
</html>
